/* Styles File */

html {
    position: relative;
    min-height: 100%;
}
body {
	background-color: #ECF0F1;
	color: #2C3E50;
	  /* Margin bottom by footer height */
  	margin-bottom: 200px;
	font-family: 'PT Sans', sans-serif;
}
h1, h2 {
	font-family: 'Titillium Web', sans-serif;
	color: #ECF0F1;
}
.main-title {
	background-color: #E74C3C;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 200px;
	background-color: #2980B9;
	color: #ECF0F1;
}
#attr > a:link,
#attr > a:visited {
	color: #2C3E50;
}
